anthropic
beautifulsoup4
cohere
datasets
deepeval==1.5.0
ipykernel
ipython
ipywidgets
jupyterlab==4.3.0
litellm==1.52.2
llama-index==0.11.22
loguru
matplotlib
matplotlib-inline
nest-asyncio
openai
pandas
pyarrow
python-dotenv
rank-bm25
requests
requests-oauthlib
rich
sentence-transformers
streamlit
tiktoken
tokenizers
torch==2.2.0
tqdm
transformers
weaviate-client
