anthropic
beautifulsoup4
cohere
datasets==2.14.3
deepeval==1.5.0
ipykernel
ipython
ipywidgets
jupyterlab>=4.2.5
litellm==1.44.8
llama-index==0.11.21
loguru==0.7.0
matplotlib==3.7.2
matplotlib-inline==0.1.6
numpy==1.24.4
openai
pandas
pyarrow
python-dotenv
rank-bm25
requests
requests-oauthlib
rich
sentence-transformers
streamlit
tiktoken
tokenizers
torch==2.2.0
tqdm
transformers
weaviate-client
