anthropic
beautifulsoup4
cohere
datasets==2.14.3
deepeval==0.21.34
ipykernel
ipython
ipywidgets
jupyterlab>=4.2.5
litellm==1.44.8
llama-hub==0.0.72
llama-index==0.10.13
loguru==0.7.0
matplotlib==3.7.2
matplotlib-inline==0.1.6
numpy==1.24.4
openai
pandas==2.0.3
pyarrow==14.0.1
python-dotenv==1.0.0
rank-bm25==0.2.2
requests==2.32.2
requests-oauthlib==1.3.1
rich>=13.7.0
sentence-transformers==2.2.2
streamlit==1.37.0
tiktoken
tokenizers==0.15.0
torch==2.2.0
tqdm==4.66.3
transformers
weaviate-client>=4.5.4
